.form-input {
  position: relative;
  > span > label {
    top: -15px;
    position: absolute;
    left: 30px;
    background: white;
    z-index: 10;
    padding: 0 10px;
    color: #444;
  }
  margin-bottom: 10px;
  .group {
    position: relative;
    margin-bottom: 10px;
    input,
    select {
      background-color: transparent;
      margin-bottom: 5px;
      border-radius: 10px;
      padding: 10px 30px 10px 35px;
      @apply border border-primary;
      width: 100%;
      &:focus {
        &::placeholder {
          visibility: hidden;
        }
      }
      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        top: -15px;
        opacity: 1;
        visibility: visible !important;
      }
    }
    .icon {
      position: absolute;
      top: 15px;
      left: 10px;
      color: #416f09;
      font-size: 20px;
      z-index: 10;
    }

    label {
      transition: all 0.3s;
      visibility: hidden;
      position: absolute;
      opacity: 0;
      left: 30px;
      padding: 0 10px;
      transition: 0.3s all;
      background: white;
      color: #4e4e4e;
    }
  }
  .custom-file {
    @apply border border-primary rounded-lg py-2 px-4;

    font-size: 12px;
    .custom-file-label {
      display: none;
    }
  }
}

.is-rtl {
  .group {
    input {
      padding: 10px 35px 10px 30px;
    }
    .icon {
      right: 10px;
    }
    label {
      left: unset;
      right: 30px;
    }
  }
}
